.message {
    display: flex;
    align-items: flex-end;

    margin: 15px;
}
.avatar {
    height: 50px;
    width: 50px;

    border-radius: 30%;
}

.content {
    padding: 20px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
}
.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px,rgba(255, 255, 255, 0.3) 0);
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: rgba(10, 245, 248, 0.85);
}
.time {
    display: flex;
    justify-content: flex-end;

    color: rgba(10, 245, 248, 0.85);
}
