.button {
    margin: 10px;
    width: 60px;
    background-color: #454e45;
    color: #C2D1C2;
    outline: none;
    border-radius: 7px;
}
.button:focus {
    outline: #d5f8d5 solid 3px;
}

.button:active {
    background: #d5f8d5;
}

.active {
    background: #6e7b6e;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 100px;
}

.high {
    color: red;
}
.middle{
    color: orange;
}
.low {
    color: #9ceb26;
}


.someClass {

}
